<h2>Books</h2>

<% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
<% end %>

<header>
  <div></div>
  <div><h6>TItle</h6></div>
  <div><h6>Opinion</h6></div>
</header>

<% @books.each do |book| %>
<div>
  <P><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></P>
  <%= link_to book_path(book.id) do %>
  <P><%= book.title %></P>
  <% end %>
  <p><%= book.body %></p>
</div>
<% end %>