<div class="row-10 mx-auto mt-5" >

<h1>Editing Book</h1>


<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title,class:"col-12" %>

  <h4>Opinion</h4>
  <%= f.text_area :body,class:"col-12" %>
  <div class="text-center ">
  <%= f.submit 'Update Book' %>
<% end %>
<br>
<%= link_to "show",book_path(@book.id)%>
|
<%= link_to "Back",books_path %>

</div>

</div>