<div class="container">
<div class="row">
<div class ="col-md-8 mx-auto">
  
<h1>Editing Book</h1>
<%= render 'books/error_message', model:@book %>
<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
  <h5>Title</h5>

  <%= f.text_field :title, class:"form-control" %>

  <h5>Opinion</h5>
  <%= f.text_area :body, class:"form-control" %>
  <div>
  <%= f.submit 'Update Book',class:"btn btn-md btn-success" %>
<% end %>
<br>
<%= link_to "Show",book_path(params[:id])%>
|
<%= link_to "Back",books_path %>
</div>

</div>
</div>
</div>