<%= render 'sidebar', book: @book, user: @user  %>

  
<div class="col-sm-8 offset-1">
<h2>Books</h2>
<header>
  
<div class="row">
   <div class="col-2"></div>
   <div class="col-4"><h6>TItle</h6></div>
   <div class="col-6"><h6>Opinion</h6></div>
</div>
</header>
<% @books.each do |book| %>
 <div class="row py-2">
   <div class="col-2"><%= attachment_image_tag book.user, :profile_image,  fallback: "no_image.jpg", size:'50x50' %></div>
   <div class="col-4"><%= link_to book_path(book.id) do %>
     <%= book.title %>
   <% end %></div>
   <div class="pcol-6"><%= book.body %></div>
 </div>
<% end %>

</div>
</div>
</div>